body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}
 /* form 表单定位 */
 .form-upload {
	width:200px;
	height:200px;
	border:1px solid red;
	margin:200px auto;
	position:relative;
}
/* 相对于form 表单定位 设置提醒文字 位于 第五层 */
        .form-upload-text {
	position:absolute;
	z-index:5;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
/* 相对于 form 表单定位 设置 点击范围位于最上层 第十层 */
        .form-upload-file {
	position:absolute;
	z-index:10;
	width:200px;
	height:200px;
	background-color:orange;
	opacity:0;
}
/* 相对于 form 表单 定位设置 位于 文字 与 文件中间展示 第八层 */
        .form-upload-imgs {
	position:absolute;
	z-index:8;
	width:200px;
	height:200px;
}
